* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  width: 100%;
  height: 100vh;
}

/* Headless Tree Styles */
.tree-root {
  position: relative;
}

.dragline {
  height: 2px;
  margin-top: -1px;
  background-color: #00aff4;
  pointer-events: none;
}

.dragline::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  height: 4px;
  width: 4px;
  background: #fff;
  border: 2px solid #00aff4;
  border-radius: 99px;
}

.tree-item {
  cursor: pointer;
  transition: background-color 150ms;
}

.tree-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.tree-item[aria-selected="true"] {
  background-color: rgba(0, 0, 0, 0.08);
}
